@charset "UTF-8";

.banner-box {
  padding-top: 64px;
  position: relative;
  z-index: 10;
  margin-top: 0;
}

.banner-image-container{
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .banner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
      font-size: 56px;
      margin: 24px;
      color: #fff;
    }

    .text-container {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 15px;
    }

    .h5 {
      color: #fff;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
