.block.block-layout-builder.block-field-blocknodepagefield-featured-image.block-default img {
  width: 100%;
}

.banner-box {
  padding-top: 64px;
  position: relative;
  z-index: 10;
  margin-top: 0;
}

.banner_block__content{

}
