@charset "UTF-8";

.navbar {
  .navbar__container.mdc-top-app-bar__row {
    //background: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1256px;
    padding: 0 12px;
    height: auto;
  }

  .navbar-branding__logo.site-logo {
    float: left;
    border: none;
  }

  .navbar-branding__title.site-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    line-height: 24px;
    padding: 12px;
    color: #FFF;
  }

  nav {
    float: right;
    display: inline-block;
    margin-left: auto;
  }

  .navbar-branding__logo img{
    margin-top: 0;
  }
}


