@charset "UTF-8";

.navbar-branding {
  &__logo {

    img,
    svg,
    .navbar-branding__logo-image {
      display: block;
      width: 140px;
      height: 140px;
      margin-top: 88px;
    }
  }
}
