@charset "UTF-8";

.navbar-branding {
  &__logo {

    img,
    svg,
    .navbar-branding__logo-image {
      display: block;
      width: 60px;
      height: 60px;
      margin: auto;
      padding: 2px;
    }
  }
}
