.navbar-branding {
  &__logo {
    padding: 4px 12px;
    display: block;

    img,
    svg,
    .navbar-branding__logo-image {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}
